.input-field {
    width: 100%;
    padding: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 4px;
    border: 1px solid #ccc;
    border-color: gray;
    border-radius: 4px;
    outline: none;

    transition: duration-300;
}

.plan-content {
    max-width: none;
}

.plan-content h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #4f46e5;
    margin-bottom: 4px;
}

.plan-content h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #4338ca;
    margin-bottom: 3px;
}

.plan-content h3 {
    font-size: 1.25rem;
    font-weight: 500;
    color: #4338ca;
    margin-bottom: 2px;
}

.plan-content p {
    margin-bottom: 4px;
}

.plan-content ul,
.plan-content ol {
    margin-bottom: 4px;
    padding-left: 1rem;
}

.plan-content table {
    width: 100%;
    margin-bottom: 4px;
    border-collapse: collapse;
}

.plan-content th,
.plan-content td {
    border: 1px solid #ccc;
    border-color: gray;
    padding: 0.75rem;
    font-size: 0.875rem;
}

.plan-content th {
    background-color: #EDF2F7;
    font-weight: 600;
}

.plan-content th {
    background-color: #EDF2F7;
    font-weight: 600;
}

.collapse-content {
    max-height: 1000px;
    opacity: 1;
    transition: max-height 0.5s ease-out, opacity 5s ease-out;
    overflow: hidden;
}

.collapsed .collapse-content {
    max-height: 0;
    opacity: 0;
    transition: max-height 0.5s ease-in, opacity 5s ease-in;
}