.input-field {
    width: 100%;
    padding: 3px;
    margin-bottom: 4px;
    border-radius: 10px;
    outline: none;
}

.button-primary {
    width: 100%;
    padding: 3px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    transition: duration 300ms ease-in-out;
}

.button-secondary {
    width: 100%;
    padding: 3px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    transition: duration 300ms ease-in-out;
}

.prose-invert {
    color: gray(300);
}

.prose-invert h1,
.prose-invert h2,
.prose-invert h3,
.prose-invert h4,
.prose-invert h5,
.prose-invert h6 {
    color: blue(400);
}

.prose-invert a {
    color: blue(400);
    hover: blue(300);
}

.prose-invert strong {
    color: white;
}

.prose-invert table {
    border-color: gray(700);
}

.prose-invert th {
    background-color: gray(700);
    color: gray(300);
}

.prose-invert td {
    border-color: gray(700);
}